<button class="btn btn-primary" type="button" routerLink="/preparing">
    <mat-icon> list_alt</mat-icon><br>
    Preparing
</button>
<button class="btn btn-primary" type="button" routerLink="/sourcing">
    <mat-icon> search</mat-icon><br>
    Sourcing
</button>
<button class="btn btn-primary" type="button" routerLink="/screening">
    <mat-icon> security</mat-icon><br>
    Screening
</button>
<button class="btn btn-primary" type="button" routerLink="/selecting">
    <mat-icon> people</mat-icon><br>
    Selecting
</button>
<button class="btn btn-primary" type="button" routerLink="/hiring">
    <mat-icon> person</mat-icon><br>
    Hiring
</button>
<button class="btn btn-primary" type="button" routerLink="/onboarding">
    <mat-icon> thumb_up_alt</mat-icon><br>
    Onboarding
</button>